# Python Virtual Environments
.venv/
venv/

# VS Code settings
.vscode/

# Alembic cache
alembic/__pycache__/
app/__pycache__/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files (agar use karte ho)
.env
*.env

# OS / System files
.DS_Store
Thumbs.db
